.img-wrapper{
  max-width: 100%;
}

@media screen and (min-width:576px){
  .carousel-inner{
    display: flex;
  }
  .carousel-item{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
  }
  .card{
    margin: 0 .5em;
  }
}