
/* .carousel_div{
  margin: 2px;
} */
.carousel-card{
  height: auto;
}

.carousel-img{
  height: 380px;
}
.card{
  width: 18rem;
  height: auto; 
}

.all-game{
  height: 30px;
}

.carousel{
  visibility: hidden;
}

.carousel.slick-initialized{
  visibility: visible;
}

